backend/.venv/
.env
backend/cache

backend/data/.gitattributes
backend/data/matches_data_dictionary.txt
backend/data/other/
backend/data/README.md

*/__pycache__/
__pycache__

.DS_Store

/MIGHTBEBESTMODEL/